<!DOCTYPE html>
<html>

<head>
  <title>SL Shop</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <style type="text/css">
    .table td,
    .table th {
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm px-3 pe-5" style=" font-size:1.2em">
    <div class=" container-fluid d-flex justify-content-between">
      <div class="">
        <a class="navbar-brand" href="/">SL Shop</a>
      </div>
      <div class="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex bg-white border rounded-pill">
            <input class="form-control me-2 border-0 rounded-pill" type="search" placeholder="Search"
              aria-label="Search">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
            {{#if user}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="far fa-user-circle"></i> {{user.name}}
              </a>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/selfProfile/{{user.id}}">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/orders">Orders</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class=" dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
            {{else}}
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" href="/login">Login</a> |
              <a class="nav-link" href="/register">Register</a>
            </li>
            {{/if}}
            <li class="nav-item ms-3">
              <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>

  <div class=" container-fluid">
    {{#if success_message}}
    <div class="alert alert-success alert-dismissible fade show fs-5 text" role="alert">
      {{success_message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    {{#if error_message}}
    <div class="alert alert-warning alert-dismissible fade show fs-5 text" role="alert">
      {{error_message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{{body}}}
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>