<container class="container-fluid" style="font-size:1.2em">

  <div class="position-relative m-4 w-50 mx-auto">
    <div class="progress" style="height: 1px;">
      <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <div class="step1">
      <div class="position-absolute top-0 start-0 translate-middle btn-sm btn-success rounded-pill text-center"
        style="width: 2rem; height:2rem;">1
      </div>
      <div class="mt-4 pt-2 position-absolute top-50 start-0 translate-middle">Shopping cart</div>
    </div>
    <div class="step2">
      <div class="position-absolute top-0 start-50 translate-middle btn-sm btn-secondary rounded-pill text-center"
        style="width: 2rem; height:2rem;">2
      </div>
      <div class="mt-4 pt-2 position-absolute top-50 start-50 translate-middle">Fill in information</div>
    </div>
    <div class="step3">
      <div class="position-absolute top-0 start-100 translate-middle btn-sm btn-secondary rounded-pill text-center"
        style="width: 2rem; height:2rem;">3
      </div>
      <div class="mt-4 pt-2 position-absolute top-50 start-100 translate-middle text-center" style="width: 150px;">
        Confirm
        order
      </div>
    </div>
  </div>
  <br>
  <div class="shopping-content m-4 mx-auto p-5 mb-3 mt-5 bg-light">
    <div class="border-bottom border-success border-3 mb-3">
      <h3>Shopping cart [ {{cart.length}} item(s) ]</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product description</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each cart}}
        <tr>
          <td>
            <div style="display: flow-root;">
              <img src="{{this.image}}" class="card-img" alt="..." style="height: 100px;width: auto;">
              <span>{{this.name}}</span>
            </div>
          </td>
          <td>
            NT$ {{this.price}}
          </td>
          <td>
            <div class="d-flex" style="display:contents;">
              <form action="/cartItem/{{this.itemId}}/sub" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
              </form>
              <span style="margin: 0 20px;">
                {{this.quantity}}
              </span>
              <form action="/cartItem/{{this.itemId}}/add" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
              </form>
            </div>
          </td>
          <td>{{this.price}} * {{this.quantity}}</td>
          <td>
            <form action="/cartItem/{{this.itemId}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-link">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>

  </div>
  <div class="m-4 mx-auto p-5 bg-light">
    <form action="/checkout" method＝"POST">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="border-bottom border-success border-3 mb-3">
            <h3>Choose shipping and payment method</h3>
          </div>
          <div class="px-3">
            <label for="destination" class="form-label text-black-50">Shipping destination</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected style="font-size:1.2em">Taiwan</option>
            </select>
            <label for="shipping-method" class="form-label mt-3 text-black-50">Shipping method</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected style="font-size:1.2em">Home delivery</option>
            </select>
            <label for="payment-method" class="form-label mt-3 text-black-50">Payment method</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected style="font-size:1.2em">Credit card</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 ">
          <div class="border-bottom border-success border-3 mb-3">
            <h3>Order information</h3>
          </div>
          <div class="d-flex justify-content-between px-3 mb-3">
            <div class="">Subtotal：</div>
            <div class="">NT$ {{totalPrice}}</div>
          </div>
          <div class="d-flex justify-content-between px-3 mb-3">
            <div class="">Freight：</div>
            <div class="">NT$ 0</div>
          </div>
          <div class="px-3">
            <hr style="height:1px">
          </div>
          <div class="d-flex justify-content-between px-3 mb-3">
            <div class="">Total：</div>
            <div class="">
              <h2>NT$ {{totalPrice}}</h2>
            </div>
          </div>
          <div class="d-grid gap-2 p-3">
            <button class="btn btn-success" type="button" style="height: 3em; font-size:1.2em">Go to Shipping and
              Payment details</button>
          </div>

        </div>
      </div>
    </form>
  </div>

</container>