<div class="mt-5 mx-auto " style="max-width: 30%;">
  <h1 class="text-center mb-5"><i class="fas fa-user-edit"></i> Edit personal profile</h1>
  <p class="text-black-50">＊：required</p>
  {{>message}}

  <form action='/selfProfile/{{user.id}}' method='POST'>

    <div class="mb-3 row">
      <label for="inputName" class="col-sm-3 col-form-label">Name <span class="text-black-50">*</span></label>
      <div class="col-sm-9">
        <input type="text" name="name" class="form-control" id="inputName" placeholder="" value={{user.name}} required
          autofocus>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputEmail" class="col-sm-3 col-form-label">Email <span class="text-black-50">*</span></label>
      <div class="col-sm-9">
        <input type="text" name="email" class="form-control" id="inputEmail" placeholder="" value={{user.email}}
          required autofocus>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputPhone" class="col-sm-3 col-form-label">Phone </label>
      <div class="col-sm-9">
        <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="" value={{user.phone}}>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="setNewPassword" class="col-sm-3 col-form-label ">Password<span class="text-black-50">*</span></label>
      <div class="col-sm-9 d-flex align-items-center">
        <a href="/passwordSetting/{{user.id}}" class="text-success">set new password</a>
      </div>
    </div>

    <div class="text-end">
      <input type="reset" value="Reset" class="btn btn-primary bg-gradient">
      <input type="submit" value="Save changes" class="btn btn-primary bg-gradient">
    </div>
  </form>

</div>